<h2><%= @topic.title %></h2>

<%= link_to "Edit Topic", edit_topic_path(@topic), class: 'btn btn-success' %> <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger' %>
<%= link_to "Add New Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-primary' %>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-8">
    <% @bookmarks.each do |bookmark| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to bookmark.url, bookmark.url, :target => '_blank' %>  <%= link_to "Edit Bookmark", edit_topic_bookmark_path(@topic, bookmark), class: 'btn btn-success' %> 
            <%= link_to "Delete Bookmark", bookmark.topic, method: :delete, class: 'btn btn-danger' %>
          </h4>
        </div>
      </div>
    <% end %>
</div> 